.productImg {
    padding: 0 15px;
    margin-bottom: 10px;
    -ms-flex: 0 0 55%;
    -webkit-box-flex: 0;
    flex: 0 0 55%;
    max-width: 55%;
    img {
        width: 100%;
        object-fit: contain;
    }
}

.productDetail {
    padding: 0 15px;
    margin-bottom: 10px;
    -ms-flex: 0 0 45%;
    -webkit-box-flex: 0;
    flex: 0 0 45%;
    max-width: 45%;
    .title {
        width: 100%;
        display: block;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .price {
        display: block;
        font-size: 24px;
        color: #2A59FE;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .desc {
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .productImg, .productDetail {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .productDetail .price {
      margin-bottom: 20px;
    }
  }